# Git

alias g='git'

alias ga='git add'
alias gaa='git add --all'
alias gap='git add --patch'
alias gau='git add --update'

alias grs='git reset'

alias gb='git branch'

alias gco='git checkout'

alias gcp='git cherry-pick'

alias gc='git commit -v'
alias gca='git commit -v -a'
alias gcm='git commit -m'
alias gcam='git commit -am'

alias gd='git diff --color | sed -E "s/^([^-+ ]*)[-+ ]/\\1/" | less -r'
alias gdw='git diff --word-diff'

alias gdc='git diff --cached --color | sed -E "s/^([^-+ ]*)[-+ ]/\\1/" | less -r'
alias gdcw='git diff --cached --word-diff'

alias gl='git log --pretty=format:"%C(yellow)%h %C(cyan)%ad %C(reset)| %s%C(bold yellow)%d %C(bold blue)[%an]" --graph --date=format:'%Y-%m-%d %I:%M %p''

alias gf='git fetch'
alias gpl='git pull'
alias gps='git push'

alias gm='git merge'
alias gmt='git mergetool'

alias grb='git rebase'

alias gsh='git show'
alias gst='git status'
alias gsta='git stash'

alias gcl='git clean -fd'
alias gpristine='git reset --hard && git clean -dfx'

alias git=hub

# Folders

alias dotfiles="cd ~/.dotfiles"
alias gitdir="cd ~/Documents/Git"

# Common

alias aliases="ccat ~/.dotfiles/.aliases"