[user]
	name = Dmitry Baginsky
	email = dmitri.baginski@gmail.com
[github]
	user = betraying
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[rerere]
	enabled = true
[pull]
	rebase = true
[status]
	showStash = true
[rebase]
	autostash = true
	autosquash = true
	abbreviateCommands = true
[stash]
	showPatch = true
[push]
	default = current
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = false
[merge]
	tool = Kaleidoscope
[tig "color"]
	cursor = default default reverse
	id = yellow default
	title-focus = black green reverse
	author = white default
	date = cyan default
[diff "swift"]
    xfuncname = ^[ \t]*((struct|class|actor|func|extension)[ \t].*)$
[credential]
	helper = store
