[user]
    name = Dmitry Baginsky
    email = dmitri.baginski@gmail.com
[github]
    user = betraying
[core]
    excludesfile = /Users/betraying/.gitignore
[pull]
    rebase = true
[status]
    showStash = true
[rebase]
    autostash = true
[stash]
    showPatch = true
[push]
    default = current
[diff]
  tool = meld
[difftool "meld"]
  prompt = false
  trustExitCode = true
  cmd = open -W -a Meld --args \"$PWD/$LOCAL\" \"$PWD/$REMOTE\"
[merge]
  tool = meld
[mergetool "meld"]
  keepBackup = false
  prompt = false
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"