<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>17846449-DDB7-4A63-AE8A-C33060EAB2B5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>explainshell</string>
			<key>text</key>
			<string>Explainshell</string>
			<key>url</key>
			<string>https://explainshell.com/explain/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>90B607AC-7774-46C2-BCF6-7FC3670AC643</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>thesaurus</string>
			<key>text</key>
			<string>Thesaurus</string>
			<key>url</key>
			<string>https://www.thesaurus.com/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
